@font-face {
    font-family: "Russo_One";
    src: url("../assets/fonts/RussoOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

.font-25 {
    font-size: 25px;
}

:root {
    --primaryColor: #f8f9fa;
    --secondaryColor: #7c7c7d;
    --thirdColor: #B29D4A;
    --fourthColor: #E7BD17;
    --primaryTextColor: #7c7c7d;
    --secondaryTextColor: #f8f9fa;
    --fontTitle: "Russo_One";
}

body {
    font-family: "Roboto" !important;
    height: 100%;
    color: var(--primaryTextColor) !important;
}

html {
    height: 100%;
}

/*------------------------------ Common -----------------------------*/

.all-recipes button, .all-articles button, .articleDetails button, .search-page button, .all-recipes a, .all-articles a, .articleDetails a, .search-page a, .cart-page .cart-validation {
    transition: 0.5s all ease-in-out;
}

.all-recipes a:hover, .all-recipes button:hover, .all-articles button:hover, .all-articles a:hover, .articleDetails button:hover, .articleDetails a:hover, .search-page button:hover, .search-page a:hover, .cart-page .cart-validation:hover {
    background-color: var(--thirdColor) !important;
    color: var(--secondaryTextColor) !important;
    box-shadow: 0 0 5px #666;
    transform: scale(1.1);
    text-decoration: none;
}

/*-------------------------------- NAV ------------------------------ */

.navbar {
    font-family: var(--fontTitle) !important;
    background-color: var(--primaryColor);
    border-bottom: 1px solid var(--primaryTextColor);
    box-shadow: 0 0 5px #666;
    padding: 0 1rem !important;
}

.logo-svg {
    width: 30px;
    height: 30px;
    font-weight: 900;
    filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(332deg) brightness(97%) contrast(86%);
    margin-right: 5px;
}

.navbar-brand img {
    width: 150px;
    height: 50px;
}

.search-nav {
    background-color: transparent;
    border: none;
}

.navbar .active {
    font-weight: bolder !important;
    color: black !important;
}

.nav-link {
    color: var(--primaryTextColor);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    transition: 0.5s all ease-in-out;
}

.nav-link:hover {
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    color: var(--primaryTextColor);
}

.search-input {
    width: 90% !important;
    padding-left: 30px;
}

.search-form {
    width: 50%;
    position: relative;
}

.search-form button {
    position: absolute;
    left: 0;
}

.cart-logo, .login-logo {
    display: flex;
    align-items: center;
    font-size: 0;
}

.login-logo i::before {
    font-size: 40px;
}

.cart-logo i::before {
    font-size: 40px;
}

/* ------------------------- Footer ----------------------------- */

#footer {
    border: 1px solid var(--primaryTextColor);
    text-align: center;
    padding: 1rem;
    background-color: var(--primaryColor);
}

/* -------------------------- Home ----------------------------- */

.last-visited {
    border: 1px solid var(--primaryTextColor);
    margin: 5rem auto;
    margin-top: 5rem;
    width: 70%;
    padding: 2rem;
    box-shadow: 0 0 5px #666;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.last-visited-title {
    font-family: var(--fontTitle);
    text-align: center;
    margin: 1rem auto 3rem auto;
    padding-bottom: 1rem;
    font-size: 30px;
    position: relative;
}

.last-visited-title::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 50%;
    border-bottom: 7px solid var(--thirdColor);
}

.last-visited-recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.last-visited-recipe {
    position: relative;
    margin-right: 1rem ;
}

.last-visited-recipe div {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, 1));
}

.last-visited-recipe .img-history {
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    transition: 0.5s all ease-in-out;
    opacity: 0.8;
    border: 4px solid var(--thirdColor);
}

.last-visited-recipe img:hover {
    transform: scale(1.1);
}

.tag-propositions {
    width: 90%;
    margin: auto;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
}

.tag-propositions-title {
    font-family: var(--fontTitle);
    text-align: center;
    margin: 1rem auto 4rem auto;
    padding-bottom: 1rem;
    font-size: 30px;
    position: relative;
}

.tag-propositions-title::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 30%;
    border-bottom: 7px solid var(--thirdColor);
}

.tag-proposition-recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tag-proposition-title {
    font-family: var(--fontTitle);
    font-size: 25px;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.tag-proposition-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tag-proposition-recipe img {
    width: 300px;
    border-radius: 5px;
    transition: 0.5s all ease-in-out;
}

.tag-propositions .img-tag {
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 200px;
    position: relative;
}

.tag-see-more {
    position: absolute;
    background-color: var(--secondaryColor);
    color: var(--secondaryTextColor);
    animation: see-more 1s ease-in-out;
    text-align: center;
    bottom: 0;
    right: 0;
    width: 130px;
    font-size: 20px;
    animation-fill-mode: forwards;
    font-family: var(--fontTitle);
    opacity: 0.7;
}

@media only screen and (max-width: 1200px) {
    .last-visited {
        min-width: 350px;
    }
    .last-visited-recipes {
        justify-content: space-around;
    }
    .last-visited-recipe {
        margin-bottom: 1rem;
        margin-right: 0;
    }
}

@media only screen and (max-width: 800px) {
    .tag-proposition-recipes {
        flex-direction: column;
        align-items: center;
    }
}

/* -------------------------- Recipes ----------------------------- */

.all-recipes {
    width: 90%;
    margin: auto;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipes-title-selection {
    font-family: var(--fontTitle);
    text-align: center;
    margin: 5rem auto 5rem auto;
    padding-bottom: 1rem;
    font-size: 40px;
    position: relative;
}

.recipes-title-selection::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 30%;
    border-bottom: 7px solid var(--thirdColor);
}

.recipes-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 2rem auto;
    padding: 0 8rem;
}

.recipes-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 2rem;
}

.recipes-tags h5 {
    margin-right: 4rem;
}

.tags-recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 1px solid var(--primaryTextColor);
    border-radius: 5%;
    margin-bottom: 3rem;
    box-shadow: 0 0 5px #666;
    transition: 0.5s all ease-in-out;
}

.recipe-card:hover {
    transform: scale(1.1);
}

.recipe-card .recipe-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe-card .recipe-img {
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px #666;
}

.recipe-card .recipe-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
}

.recipe-card .recipe-info-element {
    display: flex;
    flex-direction: row;
}

.recipe-card .recipe-info-element i {
    margin-right: 1rem;
}

.recipe-card .recipe-btn-see {
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.375rem 0.375rem;
    border-radius: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.recipe-card .recipe-card-title {
    color: var(--primaryTextColor);
    text-transform: capitalize;
    font-family: var(--fontTitle);
}

.recipe-card .recipes-card-grade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-top: 1rem;
}

.recipe-card .recipes-grade-stars {
    text-align: center;
    font-size: 20px;
    color: #bd8a0c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 150px;
}

.recipe-card .recipes-grade-value {
    text-align: center;
    font-size: 12px;
}

.all-recipes .btn-pagination-recipes {
    display: flex;
    flex-direction: row;
}

.all-recipes .btn-pagination {
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.375rem 0.375rem;
    border-radius: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 1200px) {

    .recipes-cards{
        padding: 0 0;
    }
}


@media only screen and (max-width: 1340px) {
    
    .recipes-tags{
        flex-direction: column;
        align-items: center;
    }
    .recipes-tags h5{
        margin-bottom: 1rem;
    }
}

/* -------------------------- Recipe ----------------------------- */

.recipeDetails {
    width: 90%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipeDetails .underLink {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-self: flex-start;
}

.recipeDetails .underLink a {
    font-family: var(--fontTitle);
    color: var(--primaryTextColor) !important;
}

.recipeDetails .underLink a:hover {
    text-decoration: none;
}

.recipeDetails .recipeTitle {
    font-size: 30px;
    margin-bottom: 1rem;
    font-family: var(--fontTitle);
}

.recipeDetails .recipeChief {
    font-size: 15px;
    margin-bottom: 1rem;
}

.recipeDetails .grade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-bottom: 1rem;
}

.recipeDetails .grade-stars {
    text-align: center;
    font-size: 20px;
}

.recipeDetails .grade-value {
    text-align: center;
    font-size: 12px;
}

.recipeDetails .recipe-picture {
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 300px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px #666;
}

.recipeDetails .recipe-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 300px;
}

.recipeDetails .recipe-info-element {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.recipeDetails .recipe-info-element i {
    margin-right: 10px;
}

.recipeDetails .recipe-ingredients {
    display: flex;
    flex-direction: column;
}

.recipeDetails .recipe-ingredients-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 3rem;
    border: 1px solid var(--secondaryColor);
    width: 400px;
    margin: 2rem auto;
}

.recipeDetails .recipe-list-ingredient {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 400px;
}

.recipeDetails .recipe-ingredient {
    text-align: center;
    text-align: justify;
    width: 50%;
    margin-bottom: 1rem;
}

.recipeDetails .recipe-list-ingredient :nth-child(2n) {
    text-align: right !important;
}

.recipeDetails .recipe-steps-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 3rem;
    border: 1px solid var(--secondaryColor);
    width: 400px;
    margin: 2rem auto 3rem auto;
}

.recipeDetails .recipe-list-steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    text-align: left;
    margin-bottom: 2rem;
}

.recipeDetails .recipe-step {
    width: 100%;
}

.recipeDetails .recipe-step-order {
    margin-bottom: 1rem;
    font-family: var(--fontTitle);
}

.recipeDetails .recipe-step-content {
    margin-bottom: 1rem;
}

.recipeDetails .recipe-grade {
    width: 400px;
    text-align: left;
}

.recipe-grade .recipe-stars {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.recipe-stars span {
    font-size: 30px;
}

.recipe-stars span:hover {
    cursor: pointer;
}

.recipe-stars>span:hover:before, .recipe-stars>span:hover~span:before {
    content: "\2605";
    position: absolute;
    color: #bd8a0c;
}

.recipeDetails .recipe-comments {
    width: 400px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipeDetails .recipe-comments-title {
    margin-bottom: 1rem;
    align-self: flex-start;
}

.recipeDetails .recipe-comments-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.recipeDetails .recipe-comment, .recipeDetails .recipe-comment-hidden {
    width: 170px;
    border: 1px solid var(--secondaryColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}

.recipeDetails .recipe-comment-user {
    font-family: var(--fontTitle);
    margin-bottom: 5px;
}

.recipeDetails .recipe-comment-userGrade {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.recipeDetails .recipe-comment-userGrade i {
    color: #bd8a0c;
}

.recipeDetails .recipe-comment-grade {
    font-size: 10px;
    margin-left: 5px;
}

.recipeDetails .recipe-comment-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;
}

.recipeDetails .recipe-comment-content {
    text-align: left;
    font-size: 12px;
}

.recipeDetails .recipe-comment-date {
    font-size: 10px;
    font-style: italic;
    margin-bottom: 5px;
}

.recipeDetails .see-all-comments {
    align-self: center;
    cursor: pointer;
    font-family: var(--fontTitle);
    font-size: 12px;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.recipeDetails .write-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.recipeDetails .write-comments-title {
    align-self: flex-start;
    cursor: pointer;
    font-family: var(--fontTitle);
    font-size: 15px;
    text-align: center;
    margin-bottom: 2rem;
}

.recipeDetails .btn-send-comment {
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.375rem 0.375rem;
    border-radius: 0.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.recipeDetails .write-comments .form-write-comment {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.recipeDetails .write-comment-title {
    margin-bottom: 1rem;
}

.logo-svg-blocked {
    width: 500px !important;
    height: 500px !important;
    font-weight: 900;
    filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(332deg) brightness(97%) contrast(86%);
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.svg-blocked-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    font-family: "Roboto";
    font-size: 50px;
}

@media only screen and (max-width: 630px) {

    .recipeDetails{
        width: 100%;
    }

    .underLink{
        margin-left:1rem
    }

    .recipeDetails .recipe-list-steps{
        width: 95%;
    }
}

@media only screen and (max-width: 500px) {

    .recipeDetails .recipe-picture{
        width: 350px;
    }

    .recipeDetails .recipe-ingredients-title{
        width: 350px;
    }

    .recipeDetails .recipe-list-ingredient{
        width: 350px;
    }

    .recipe-steps{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .recipeDetails .recipe-steps-title{
        width: 350px;
    }

    .recipeDetails .recipe-grade{
        width: 350px;
    }

    .recipeDetails .recipe-comments{
        width: 350px;
    }
}

/* -------------------------- Login ----------------------------- */

.login-form {
    margin: 5rem auto 5rem auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form label {
    margin-bottom: 1rem;
}

.login-form .btn-login {
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.375rem 0.375rem;
    border-radius: 0.25rem;
    margin-top: 2rem;
}

.login-form .login-no-account {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.login-form .login-here {
    cursor: pointer;
    font-weight: bold;
    font-family: var(--fontTitle);
    color: var(--primaryTextColor)
}

@media only screen and (max-width: 500px) {

    .login-form{
        width: 350px;
    }
}

/* -------------------------- Register ----------------------------- */

.register-form {
    margin: 5rem auto 5rem auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form label {
    margin-bottom: 1rem;
}

.register-form .btn-register {
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.375rem 0.375rem;
    border-radius: 0.25rem;
    margin-top: 2rem;
}

.register-form .register-form-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.register-form .register-form-right, .register-form .register-form-left {
    width: 400px
}

#pwdStrength {
    margin-top: 2px;
    width: 100%;
    height: 8px;
    border-radius: .10rem;
    background-color: red;
}

#pwdStrength::-moz-progress-bar, #pwdStrength::-webkit-progress-value {
    background: green;
}

#passwordConditions {
    color: red;
}

#passwordVerification {
    font-size: small;
    line-height: 1rem;
}

/* -------------------------- Dashboard ------------------------------ */

.dashboard {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 5rem auto;
    position: relative;
}

.welcome-message {
    font-family: var(--fontTitle);
    font-size: 50px;
    margin-bottom: 3rem;
}

.welcome-name {
    font-size: 30px;
    margin-bottom: 3rem;
}

.disconnect-btn {
    position: absolute;
    top: 1rem;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--primaryTextColor) !important;
    font-family: var(--fontTitle);
}

.dashboard-logo {
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    margin-top: 3rem;
}

.link-admin {
    position: absolute;
    top: 1rem;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--primaryTextColor) !important;
    font-family: var(--fontTitle);
}

/* ------------------------------- Articles ------------------------------- */

.all-articles {
    width: 90%;
    margin: auto;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles-title-selection {
    font-family: var(--fontTitle);
    text-align: center;
    margin: 5rem auto 5rem auto;
    padding-bottom: 1rem;
    font-size: 40px;
    position: relative;
}

.articles-title-selection::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 30%;
    border-bottom: 7px solid var(--thirdColor);
}

.articles-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 2rem auto;
    padding: 0 8rem;
}

.article-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 1px solid var(--primaryTextColor);
    border-radius: 5%;
    margin-bottom: 3rem;
    box-shadow: 0 0 5px #666;
    transition: 0.5s all ease-in-out;
    position: relative;
}

.article-card:hover {
    transform: scale(1.1);
}

.article-card-out-of-stock {
    background-color: var(--secondaryColor);
    color: var(--secondaryTextColor);
    position: relative
}

.article-card-out-of-stock:hover {
    transform: none;
}

.article-card .article-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-card .article-img {
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px #666;
}

.article-card .article-btn-see {
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.375rem 0.375rem;
    border-radius: 0.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.article-card .article-card-title {
    margin-bottom: 1rem;
    font-family: var(--fontTitle);
}

.article-card .article-out-of-stock {
    position: absolute;
    transform: rotate(-90deg);
    left: -13%;
    top: 28%;
    color: red;
    background-color: var(--primaryColor);
    padding: 5px 10px;
    border: 3px solid var(--thirdColor);
    box-shadow: 0 0 10px #666;
    font-family: var(--fontTitle);
}

.article-card .article-card-price {
    font-family: var(--fontTitle);
    color: var(--thirdColor);
}

.all-articles .btn-pagination-articles {
    display: flex;
    flex-direction: row;
}

.all-articles .btn-pagination {
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.375rem 0.375rem;
    border-radius: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 1200px) {

    .articles-cards{
        padding: 0 0;
    }
}

/* ---------------------------- Article ---------------------- */

.articleDetails {
    width: 90%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.articleDetails .underLink {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-self: flex-start;
}

.articleDetails .underLink a {
    font-family: var(--fontTitle);
    color: var(--primaryTextColor) !important;
}

.articleDetails .underLink a:hover {
    text-decoration: none;
}

.articleDetails .articleTitle {
    font-size: 30px;
    margin-bottom: 2rem;
    font-family: var(--fontTitle);
}

.article-picture-add-cart {
    position: relative;
}

.articleDetails .article-picture {
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 300px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px #666;
}

.articleDetails label {
    margin-bottom: 1rem;
}

.articleDetails .btn-add-article {
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.375rem 2rem;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.articleDetails .form-add-article {
    position: absolute;
    top: 20%;
    right: -22rem;
}

.articleDetails .article-price {
    font-family: var(--fontTitle);
    color: var(--fourthColor);
    font-size: 30px;
    text-align: center;
    margin-bottom: 1rem;
}

.articleDetails .form-add-article-out-of-stock {
    position: absolute;
    top: 40%;
    right: -20rem;
}

.articleDetails .in-stock-information {
    margin-bottom: 2rem;
    color: var(--thirdColor);
    font-family: var(--fontTitle);
    font-size: 18px;
}

.articleDetails .out-of-stock-information {
    margin-bottom: 2rem;
    color: red;
    font-family: var(--fontTitle);
    font-size: 18px;
}

.articleDetails .article-number-recipes {
    font-family: var(--fontTitle);
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.articleDetails .recipes-cards {
    width: 800px;
    padding: 0;
}

.articleDetails .see-all-recipes {
    align-self: center;
    cursor: pointer;
    font-family: var(--fontTitle);
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.articleDetails .recipe-card, .articleDetails .recipe-card-hidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 1px solid var(--primaryTextColor);
    border-radius: 5%;
    margin-bottom: 3rem;
    box-shadow: 0 0 5px #666;
    transition: 0.5s all ease-in-out;
}

.articleDetails .recipe-card:hover {
    transform: scale(1.1);
}

.articleDetails .recipe-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.articleDetails .recipe-img {
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px #666;
}

.articleDetails .recipe-btn-see {
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.375rem 0.375rem;
    border-radius: 0.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.articleDetails .recipe-card-title {
    color: var(--primaryTextColor);
    text-transform: capitalize;
}

.articleDetails .article-body-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articleDetails .article-resume-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2rem;
}

.articleDetails .article-body-img {
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
}

.articleDetails .article-body-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articleDetails .article-body-title {
    font-family: var(--fontTitle);
    font-size: 20px;
    margin-bottom: 1rem;
}

.articleDetails .article-body-price {
    margin-bottom: 1rem;
    color: var(--fourthColor)
}

.articleDetails .article-body-text {
    font-size: 20px;
}

.articleDetails .btn-confirm-go-to-cart {
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.53rem 0.375rem;
    border-radius: 0.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.articleDetails .btn-keep-looking {
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.375rem 0.375rem;
    border-radius: 0.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.articleDetails .article-title-modal {
    font-family: var(--fontTitle);
    color: var(--thirdColor);
    font-size: 30px;
}

.articleDetails .article-title-modal {
    font-size: 22px;
}

#close-modal-go-to-carts:hover {
    transform: none;
    background-color: white !important;
    color: var(--primaryTextColor) !important;
    box-shadow: none !important;
}

.articleDetails .logo-svg {
    width: 22px !important;
    height: 20px !important;
    font-weight: 900;
    filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(332deg) brightness(97%) contrast(86%);
    margin-right: 10px;
}

.articleDetails a:hover {
    text-decoration: none !important;
}

@media only screen and (max-width: 1150px) {

    .articleDetails .form-add-article{
        right:-12rem;
    }
}

@media only screen and (max-width: 800px) {

    .articleDetails .article-picture{
        width: 350px;
    }

    .articleDetails .recipes-cards{
        width: 100%;
    }

    .articleDetails .form-add-article{
        position: relative;
        top: 0;
        right:0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-control{
        width: 50%;
    }

    .form-add-article-cart{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* -----------------------------Cart Page----------------------------- */

.cart-page {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    position: relative;
    align-items: center;
}

.cart-page .logo-svg {
    width: 500px;
    height: 500px;
    font-weight: 900;
    filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(332deg) brightness(97%) contrast(86%);
    margin-bottom: 5rem;
}

.cart-page .svg-empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    font-family: "Roboto";
    font-size: 50px;
}

.return-button-cart {
    position: absolute;
    right: 0;
    cursor: pointer;
    color: var(--primaryTextColor);
    font-size: 20px;
    margin-top: 1rem;
}

.return-button-cart:hover {
    text-decoration: none;
    color: var(--primaryTextColor);
}

.div-title-cart {
    display: flex;
    flex-direction: row;
}

.title-cart {
    font-family: var(--fontTitle);
    text-align: center;
    margin: 5rem auto 5rem auto;
    padding-bottom: 1rem;
    font-size: 40px;
    position: relative;
}

.title-cart::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 7px solid var(--thirdColor);
}

.cart-elements {
    width: 100%;
}

.cart-element {
    color: var(--classicColorText);
    background-color: var(--fourthcolor);
    border: 1px solid var(--primaryTextColor);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
    padding: 2rem 0 2rem 4rem;
}

.cart-img {
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 150px;
    min-height: 170px;
    width: 10%;
    margin-right: 2rem;
}

.cart-img-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    width: 40%;
}

.cart-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--fontTitle);
    font-size: 20px;
    width: 50%;
}

.cart-info img {
    width: 80px;
    height: 30px;
}

.delete-cart-element {
    background-color: transparent;
    color: var(--fontColorCart);
    max-height: 50px;
    border: none;
    font-weight: bolder;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.cart-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

.cart-details-element {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cart-page-titles {
    margin-bottom: 1rem;
}

.cart-page-element {
    font-family: var(--fontTitle);
}

.total-cart {
    background-color: var(--fourthcolor);
    width: 20%;
    min-width: 300px;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: end;
    border: 1px solid var(--primaryTextColor);
    padding: 1rem 0px;
    font-family: var(--fontTitle);
}

.cart-validation {
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.8rem 0.8rem;
    border-radius: 5px;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.btn-valid-cart {
    align-self: end;
    font-family: var(--fontTitle);
    font-size: 20px;
}

@media only screen and (max-width: 1400px) {

   .cart-img-info{
       flex-direction: column;
       align-items: center;
       width: 20%;
   }

   .cart-img{
    margin-right: 0;
   }
}

@media only screen and (max-width: 800px) {

    .cart-page{
        width: 100%;
        padding: 0 10px;
    }

    .cart-element{
        padding-left: 0;
    }

    .cart-details{
        width: 70%;
    }

    .cart-page-element .form-control{
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {

    .cart-img-info{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
    }

}

/* -----------------------------Pay Page----------------------------- */

.pay-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    position: relative;
    align-items: center;
    justify-content: space-around;
}

.order-details {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid var(--thirdcolor);
    background-color: var(--primaryTextColor);
    height: 100%;
    width: 580px;
    min-width: 400px;
    margin: 4rem 0;
}

.div-title-pay {
    display: flex;
    flex-direction: row;
}

.title-pay {
    font-family: var(--fontTitle);
    text-align: center;
    margin: 1rem auto 3rem auto;
    padding-bottom: 1rem;
    font-size: 40px;
    position: relative;
    color: var(--secondaryTextColor);
}

.title-pay::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 60%;
    border-bottom: 7px solid var(--thirdColor);
}

.pay-cart-elements {
    width: 100%;
}

.pay-cart-element {
    color: var(--classicColorText);
    background-color: var(--primaryColor);
    border: 1px solid var(--primaryTextColor);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
    padding: 1rem;
}

.pay-cart-img {
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 70px;
    min-height: 90px;
    width: 10%;
    margin-right: 2rem;
}

.pay-img-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    width: 40%;
}

.pay-cart-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--fontTitle);
    font-size: 15px;
    width: 50%;
}

.pay-cart-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

.pay-cart-details-element {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pay-cart-page-titles {
    margin-bottom: 1rem;
}

.pay-cart-page-element {
    font-family: var(--fontTitle);
}

.pay-details {
    display: flex;
    flex-direction: column;
    align-self: end;
    align-items: flex-end;
}

.pay-shipment {
    width: 20%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0px;
    color: var(--secondaryTextColor);
    font-family: var(--fontTitle);
}

.pay-shipment div:nth-of-type(1) {
    margin-right: 1rem;
}

.pay-total {
    width: 20%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0px;
    font-family: var(--fontTitle);
    color: var(--secondaryTextColor);
}

.pay-total div:nth-of-type(1) {
    margin-right: 1rem;
}

.pay-subtotal {
    width: 20%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0px;
    font-family: var(--fontTitle);
    color: var(--secondaryTextColor);
}

.pay-subtotal div:nth-of-type(1) {
    margin-right: 1rem;
}

.pay-delivery-details {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.pay-delivery-details div {
    color: white;
    margin-bottom: 1rem;
    font-family: var(--fontTitle);
    align-self: flex-start;
}

.pay-delivery-details input {
    font-size: 12px;
    width: 100%;
}

.pay-validation {
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.8rem 0.8rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-valid-pay {
    align-self: end;
    font-family: var(--fontTitle);
    font-size: 20px;
}

.pay-card-details {
    padding: 2rem 7rem 2rem 5rem;
    border: 2px solid var(--secondaryColor);
    position: relative;
    width: 580px;
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
}

.pay-card-details form {
    display: flex;
    flex-direction: column;
}

.title-pay-card-details {
    font-family: var(--fontTitle);
    text-align: center;
    margin: 1rem auto 3rem auto;
    padding-bottom: 1rem;
    font-size: 40px;
    position: relative;
    color: var(--primaryTextColor);
}

.title-pay-card-details::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 60%;
    border-bottom: 7px solid var(--thirdColor);
}

.cards {
    position: relative;
    margin: 5rem auto 10rem auto;
    width: 350px;
}

.card-group {
    position: relative;
}

.card {
    position: relative;
    height: 200px;
    width: 350px;
    border-radius: 25px;
    background-color: var(--secondaryColor);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 3;
}

.back-card {
    position: absolute;
    height: 200px;
    width: 350px;
    border-radius: 25px;
    background-color: lightgray;
    /* backdrop-filter: blur(30px); */
    /* This will produce the blur */
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    left: 20%;
    top: 25%;
    z-index: 0;
}

.logo img, .chip img, .number, .name, .to, .csv-code {
    position: absolute;
    /* All items inside card should have absolute position */
}

.logo img {
    top: 10%;
    right: 7%;
    width: 50px;
    height: auto;
    opacity: 0.8;
}

.chip img {
    top: 45%;
    left: 40px;
    width: 30px;
    height: auto;
    opacity: 0.8;
}

.number, .name, .to, .csv-code {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.number {
    font-size: 10px;
    left: 8%;
    bottom: 25%;
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 10px;
    left: 8%;
    bottom: 8%;
    display: flex;
    flex-direction: column;
}

.to {
    font-size: 10px;
    right: 8%;
    bottom: 8%;
    display: flex;
    flex-direction: column;
}

.pay-card-details input {
    background-color: transparent;
}

.pay-card-details label {
    font-size: 12px;
}

.csv-code {
    font-size: 10px;
    right: 7%;
    bottom: 10%;
    display: flex;
    flex-direction: column;
}

.csv-code input, .to input {
    width: 50px;
}

.name input {
    width: 190px;
}

.border-card {
    position: absolute;
    border-bottom: 50px solid black;
    width: 100%;
    top: 15%;
}

.pay-error-number {
    position: absolute;
    left: 7%;
    bottom: 17%;
    font-size: 10px;
    color: red;
}

.pay-error-date {
    position: absolute;
    left: 7%;
    bottom: 10%;
    font-size: 10px;
    color: red;
}

.pay-error-name {
    position: absolute;
    left: 7%;
    bottom: 3%;
    font-size: 10px;
    color: red;
}

.pay-error-csv {
    position: absolute;
    right: 26%;
    bottom:12%;
    font-size: 10px;
    color: red;
}


@media only screen and (max-width: 600px) {

    .pay-card-details{
       width: 500px;
       padding-left: 0;
       padding-right: 0;
    }

    .back-card{
        left: 0;
        top: 80%;
    }

    .pay-page .cards{
        margin-top: 1rem;
    }

    .btn-valid-pay{
        margin-right: 1rem;
    }

}

/* -------------------------------Search Page------------------------------ */

.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-search-results {
    margin: 3rem auto 2rem auto;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-search-results-recipes, .btn-search-results-articles {
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.375rem 0.375rem;
    border-radius: 0.25rem;
}

.recipes-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-page .btn-pagination-recipes, .search-page .btn-pagination-articles {
    display: flex;
    flex-direction: row;
}

.search-page .btn-pagination {
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.375rem 0.375rem;
    border-radius: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/*----------------------------------------- Suggestion -----------------------------------------*/

/* Style of the different parts of the header */

#header {
    text-align: center;
    margin: 1rem auto 2rem auto;
}

#titleIngredient {
    color: var(--primaryTextColor);
    font-family: 'Russo_one';
    font-size: 70px;
    margin-top: 4rem;
}

#instructions {
    color: var(--primaryTextColor);
    font-family: 'Roboto';
    font-size: 20px;
    margin-bottom: 4rem;
}

.containerResult{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    
}

/* Style of the different parts of the ingredient cards */

#containerIngredientCards {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 480px;
    margin-bottom: 5rem;
}

#containerIngredientCards .cardIngredient {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 50;
    border: 2px solid rgb(0, 0, 0, 0.5);
    background-color: var(--primaryColor);
    width: 400px;
    height: 480px;
}

/* Style of the paragraphe inside the card*/

.cardIngredient p {
    font-family: 'Russo_one';
    font-size: 40px;
    margin: 1rem auto;
}

/* Style of the picture in each card */

.pictureDiv {
    border: 2px solid rgb(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    width: 85%;
    height: 75%
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 1rem auto;
}

/* Style of the bottom part of the cards : container buttons and child */

.cardIngredient button {
    height: 6rem;
    width: 6rem;
    border: 5px solid #03030338;
    cursor: pointer;
}

/* Style of the dislike buttons */

.buttonDislike {
    position: relative;
    color: #ef4444;
    background-color: white;
    border-radius: 100%;
    font-size: 4rem;
}

.iconDislike {
    position: relative;
}

/* Style of the like buttons */

.buttonLike {
    position: relative;
    color: #10b981;
    background-color: white;
    border: none;
    border-radius: 100%;
    font-size: 4rem;
}

.iconLike {
    position: relative;
}

/* Style of button under cards */

#containerButtons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 6rem auto;
}

#containerButtons button {
    font-family: 'Russo_one';
    font-size: 25px;
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.375rem 0.375rem;
    border-radius: 0.25rem;
    margin: auto 2rem;
}


@media only screen and (max-width: 500px) {
    
    #containerIngredientCards {
        width: 300px;
    }

    .cardIngredient{
        width: 300px !important;
    }
}

/*************************************************** Style of the Javascript part ***************************************************/

.currentCard {
    position: absolute;
    z-index: 10;
    opacity: 1;
}

.cardNext {
    z-index: 5;
    transform-origin: center;
    transform: rotate(4deg);
}

.thirdCard {
    z-index: 4;
    transform-origin: center;
    transform: rotate(-4deg);
}

.currentCard, .cardNext, .thirdCard, .fourthCard {
    box-shadow: 4px 5px 5px 1px #020202b0;
}

#sentenceRecipesAvailable {
    font-family: var(--fontTitle);
    font-size: 1.7rem;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    color: var(--thirdColor) !important;
}

/* Amination for the swipe to the left */

.swipeLeft {
    animation: swipe-left 0.6s ease-in-out;
    z-index: 1;
}

/* Amination for the swipe to the right */

.swipeRight {
    animation: swipe-right 0.6s ease-in-out;
    z-index: 1;
}

/* Keyframes for the left transition */

@keyframes swipe-left {
    0% {
        z-index: 100;
        transform: translateY(0px) rotate(-4deg);
    }
    50% {
        transform: translateX(-120%) rotate(-5deg) translateY(-40%);
        opacity: 0.7;
    }
    80% {
        opacity: 0.4;
    }
    100% {
        transform: translateX(0%) rotate(0) translateY(0%) scale(0.95);
        opacity: 0;
        z-index: -50;
    }
}

/* Keyframes for the right transition */

@keyframes swipe-right {
    0% {
        z-index: 100;
        transform: translateY(0px) rotate(4deg);
    }
    50% {
        transform: translateX(120%) rotate(5deg) translateY(-40%);
        opacity: 0.7;
    }
    80% {
        opacity: 0.4;
    }
    100% {
        transform: translateX(0%) rotate(0) translateY(0%) scale(0.95);
        opacity: 0;
        z-index: -50;
    }
}

.cardIngredient {
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 800px) {
    #header {
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 500px) {

    #titleIngredient{
        text-align: center;
    }
    
    /* Keyframes for the left transition */

@keyframes swipe-left {
    0% {
        z-index: 100;
        transform: translateY(0px) rotate(-4deg);
    }
    50% {
        transform: translateY(+120%) rotate(-5deg) translateX(-40%);
        opacity: 0.7;
    }
    80% {
        opacity: 0.4;
    }
    100% {
        transform: translateX(0%) rotate(0) translateY(0%) scale(0.95);
        opacity: 0;
        z-index: -50;
    }
}

/* Keyframes for the right transition */

@keyframes swipe-right {
    0% {
        z-index: 100;
        transform: translateY(0px) rotate(4deg);
    }
    50% {
        transform: translateY(-120%) rotate(5deg) translateX(+40%);
        opacity: 0.7;
    }
    80% {
        opacity: 0.4;
    }
    100% {
        transform: translateX(0%) rotate(0) translateY(0%) scale(0.95);
        opacity: 0;
        z-index: -50;
    }
}

}
