@font-face {
    font-family: "Russo_One";
    src: url("../assets/fonts/RussoOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

.font-25 {
    font-size: 25px;
}

:root {
    --primaryColor: #f8f9fa;
    --secondaryColor: #7c7c7d;
    --primaryTextColor: #7c7c7d;
    --secondaryTextColor: #f8f9fa;
    --fontTitle: "Russo_One";
}

body {
    font-family: "Roboto" !important;
    height: 100%;
}

html {
    height: 100%;
}

/*-------------------------------- NAV ------------------------------ */

.navbar {
    font-family: "Russo_One" !important;
    background-color: var(--primaryColor);
    border-bottom: 1px solid var(--primaryTextColor);
}

/* .fridge-svg{
    width: 16px;
    height: 16px;
    font-weight: 900px;
} */

.navbar-brand img {
    width: 150px;
    height: 50px;
}

.search-nav {
    background-color: transparent;
    border: none;
}

.navbar .active {
    font-weight: bolder !important;
    color: black !important;
}

.nav-link {
    color: var(--primaryTextColor);
}

.search-input {
    width: 90% !important;
    padding-left: 30px;
}

.search-form {
    width: 50%;
    position: relative;
}

.search-form button {
    position: absolute;
    left: 0;
}

.login-logo i::before {
    width: 30px;
    height: 30px;
}

/* ------------------------- Footer ----------------------------- */

#footer {
    border: 1px solid var(--primaryTextColor);
    text-align: center;
    padding: 1rem;
    background-color: var(--primaryColor);
}

/* -------------------------- Home ----------------------------- */

.last-visited {
    border: 1px solid var(--primaryTextColor);
    margin: 5rem auto;
    margin-top: 5rem;
    width: 70%;
    padding: 2rem;
    box-shadow: 0 0 5px #666;
    border-radius: 5px;
}

.last-visited-title {
    font-family: var(--fontTitle);
    margin-bottom: 1rem;
    font-size: 25px;
}

.last-visited-recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.last-visited-recipe {
    position: relative;
}

.last-visited-recipe div {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    color: var(--secondaryTextColor);
    font-size: 20px;
}

.last-visited-recipe img {
    width: 200px;
    border-radius: 5px;
    transition: 0.5s all ease-in-out;
}

.last-visited-recipe img:hover {
    transform: scale(1.1);
}

.tag-propositions {
    width: 90%;
    margin: auto;
    margin-bottom: 5rem;
}

.tag-proposition-recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tag-proposition-title {
    font-family: var(--fontTitle);
    font-size: 20px;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.tag-proposition-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tag-proposition-recipe img {
    width: 300px;
    border-radius: 5px;
    transition: 0.5s all ease-in-out;
}

.tag-propositions .card-img-top {
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
}

/* -------------------------- Recipes ----------------------------- */

.recipes-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 2rem auto;
    padding: 0 2rem;
}

.recipes-tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 2rem;
}

.recipes-tags h5{
    margin-right: 4rem;
}

.tags-recipes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 1px solid var(--primaryTextColor);
    border-radius: 5%;
    margin-bottom: 3rem;
    box-shadow: 0 0 5px #666;
}

.recipe-card .recipe-card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe-card .recipe-img{
    width: 200px;
    height: 200px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px #666;
}

.recipe-card .recipe-btn-see{
    cursor: pointer; 
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.375rem 0.375rem;
    border-radius: 0.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.recipe-card .recipe-card-title{
    color: var(--primaryTextColor);
    text-transform: capitalize;
}