@font-face {
    font-family: "Russo_One";
    src: url("../assets/fonts/RussoOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

.font-25 {
    font-size: 25px;
}

:root {
    --primaryColor: #f8f9fa;
    --secondaryColor: #7c7c7d;
    --primaryTextColor: #7c7c7d;
    --secondaryTextColor: #f8f9fa;
    --fontTitle: "Russo_One";
}

body {
    font-family: "Roboto" !important;
    height: 100%;
    color: var(--primaryTextColor) !important;
}

html {
    height: 100%;
}

/*-------------------------------- NAV ------------------------------ */

.navbar {
    font-family: var(--fontTitle) !important;
    background-color: var(--primaryColor);
    border-bottom: 1px solid var(--primaryTextColor);
}

/* .fridge-svg{
    width: 16px;
    height: 16px;
    font-weight: 900px;
} */

.navbar-brand img {
    width: 150px;
    height: 50px;
}

.search-nav {
    background-color: transparent;
    border: none;
}

.navbar .active {
    font-weight: bolder !important;
    color: black !important;
}

.nav-link {
    color: var(--primaryTextColor);
}

.search-input {
    width: 90% !important;
    padding-left: 30px;
}

.search-form {
    width: 50%;
    position: relative;
}

.search-form button {
    position: absolute;
    left: 0;
}

.login-logo i::before {
    font-size: 40px;
}

.cart-logo i::before {
    font-size: 40px;
}

/* ------------------------- Footer ----------------------------- */

#footer {
    border: 1px solid var(--primaryTextColor);
    text-align: center;
    padding: 1rem;
    background-color: var(--primaryColor);
}

/* -------------------------- Home ----------------------------- */

.last-visited {
    border: 1px solid var(--primaryTextColor);
    margin: 5rem auto;
    margin-top: 5rem;
    width: 70%;
    padding: 2rem;
    box-shadow: 0 0 5px #666;
    border-radius: 5px;
}

.last-visited-title {
    font-family: var(--fontTitle);
    margin-bottom: 1rem;
    font-size: 25px;
}

.last-visited-recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.last-visited-recipe {
    position: relative;
}

.last-visited-recipe div {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    color: var(--secondaryTextColor);
    font-size: 20px;
}

.last-visited-recipe img {
    width: 200px;
    border-radius: 5px;
    transition: 0.5s all ease-in-out;
}

.last-visited-recipe img:hover {
    transform: scale(1.1);
}

.tag-propositions {
    width: 90%;
    margin: auto;
    margin-bottom: 5rem;
}

.tag-proposition-recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tag-proposition-title {
    font-family: var(--fontTitle);
    font-size: 20px;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.tag-proposition-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tag-proposition-recipe img {
    width: 300px;
    border-radius: 5px;
    transition: 0.5s all ease-in-out;
}

.tag-propositions .card-img-top {
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 200px;
}

/* -------------------------- Recipes ----------------------------- */

.all-recipes {
    width: 90%;
    margin: auto;
    margin-bottom: 5rem;
}

.recipes-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 2rem auto;
    padding: 0 2rem;
}

.recipes-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 2rem;
}

.recipes-tags h5 {
    margin-right: 4rem;
}

.tags-recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 1px solid var(--primaryTextColor);
    border-radius: 5%;
    margin-bottom: 3rem;
    box-shadow: 0 0 5px #666;
}

.recipe-card .recipe-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe-card .recipe-img {
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px #666;
}

.recipe-card .recipe-btn-see {
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.375rem 0.375rem;
    border-radius: 0.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.recipe-card .recipe-card-title {
    color: var(--primaryTextColor);
    text-transform: capitalize;
}

/* -------------------------- Recipes ----------------------------- */

.recipeDetails {
    width: 90%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipeDetails .underLink {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-self: flex-start;
}

.recipeDetails .underLink a {
    font-family: var(--fontTitle);
    color: var(--primaryTextColor) !important;
}

.recipeDetails .underLink a:hover {
    text-decoration: none;
}

.recipeDetails .recipeTitle {
    font-size: 30px;
    margin-bottom: 2rem;
    font-family: var(--fontTitle);
}

.recipeDetails .grade {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin-bottom: 1rem;
}

.recipeDetails .recipe-picture {
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 300px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px #666;
}

.recipeDetails .recipe-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 300px;
}

.recipeDetails .recipe-info-element {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.recipeDetails .recipe-info-element i {
    margin-right: 10px;
}

.recipeDetails .recipe-ingredients {
    display: flex;
    flex-direction: column;
}

.recipeDetails .recipe-ingredients-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 3rem;
    border: 1px solid var(--secondaryColor);
    width: 400px;
    margin: 2rem auto;
}

.recipeDetails .recipe-list-ingredient {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 400px;
}

.recipeDetails .recipe-ingredient {
    text-align: center;
    text-align: justify;
    width: 50%;
    margin-bottom: 1rem;
}

.recipeDetails .recipe-list-ingredient :nth-child(2n) {
    text-align: right !important;
}

.recipeDetails .recipe-steps-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 3rem;
    border: 1px solid var(--secondaryColor);
    width: 400px;
    margin: 2rem auto 3rem auto;
}

.recipeDetails .recipe-list-steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    text-align: left;
    margin-bottom: 2rem;
}

.recipeDetails .recipe-step {
    width: 100%;
}

.recipeDetails .recipe-step-order {
    margin-bottom: 1rem;
    font-family: var(--fontTitle);
}

.recipeDetails .recipe-step-content {
    margin-bottom: 1rem;
}

.recipeDetails .recipe-grade {
    width: 400px;
    text-align: left;
}

.recipe-grade .recipe-stars {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.recipe-stars span {
    font-size: 30px;
}

.recipe-stars span:hover {
    cursor: pointer;
}

.recipe-stars>span:hover:before, .recipe-stars>span:hover~span:before {
    content: "\2605";
    position: absolute;
    color: #bd8a0c;
}

.recipeDetails .recipe-comments {
    width: 400px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipeDetails .recipe-comments-title {
    margin-bottom: 1rem;
    align-self: flex-start;
}

.recipeDetails .recipe-comments-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.recipeDetails .recipe-comment, .recipeDetails .recipe-comment-hidden {
    width: 170px;
    border: 1px solid var(--secondaryColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}

.recipeDetails .recipe-comment-user {
    font-family: var(--fontTitle);
    margin-bottom: 5px;
}

.recipeDetails .recipe-comment-userGrade {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.recipeDetails .recipe-comment-userGrade i {
    color: #bd8a0c;
}

.recipeDetails .recipe-comment-grade {
    font-size: 10px;
    margin-left: 5px;
}

.recipeDetails .recipe-comment-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;
}

.recipeDetails .recipe-comment-content {
    text-align: left;
    font-size: 12px;
}

.recipeDetails .recipe-comment-date {
    font-size: 10px;
    font-style: italic;
    margin-bottom: 5px;
}

.recipeDetails .see-all-comments {
    align-self: center;
    cursor: pointer;
    font-family: var(--fontTitle);
    font-size: 12px;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.recipeDetails .write-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.recipeDetails .write-comments-title {
    align-self: flex-start;
    cursor: pointer;
    font-family: var(--fontTitle);
    font-size: 15px;
    text-align: center;
    margin-bottom: 2rem;
}

.recipeDetails .write-comments button {
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.375rem 0.375rem;
    border-radius: 0.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.recipeDetails .write-comments .form-send-comment {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* -------------------------- Login ----------------------------- */

.login-form {
    margin: 5rem auto 5rem auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form label{
    margin-bottom: 1rem;
}

.login-form .btn-login {
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.375rem 0.375rem;
    border-radius: 0.25rem;
    margin-top: 2rem;
}

.login-form .login-no-account{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.login-form .login-here{
    cursor: pointer;
    font-weight: bold;
    font-family: var(--fontTitle);
    color:var(--primaryTextColor)
}

/* -------------------------- Register ----------------------------- */

.register-form {
    margin: 5rem auto 5rem auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form label{
    margin-bottom: 1rem;
}

.register-form .btn-register {
    cursor: pointer;
    color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--primaryTextColor);
    padding: 0.375rem 0.375rem;
    border-radius: 0.25rem;
    margin-top: 2rem;
}

.register-form .register-form-input{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.register-form .register-form-right, .register-form .register-form-left{
    width: 400px
}
