<div class="recipe-info">
	<div class="recipe-info-element">
		<i class="far fa-clock" aria-hidden="true"></i>
		<p>{{recipe.time}}</p>
	</div>
	<div class="recipe-info-element">
		<i class="fa fa-utensils" aria-hidden="true"></i>
		<p>{{recipe.number_of_people}}</p>
	</div>
	<div class="recipe-info-element">
		<i class="fa fa-fire" aria-hidden="true"></i>
		<p>{{recipe.difficulty}}</p>
	</div>
</div>
