{% extends "base.html.twig" %}

{% block content %}

	<div class="all-articles">


		<h1 class="articles-title-selection">
			Market Place</h1>

		{{ include('/templates/all-articles.html.twig')  }}

		
	</div>
{% endblock %}
{% block script %}
	<script>

		var current_page = 1;
var card_per_page = 8;
var numPage = {{ (articles | length /8) | round(0,'ceil') }};

var recipeCards = document.querySelectorAll(".article-card");

function goPage(pageNumber) {
current_page = pageNumber;
changePage(pageNumber);
}


function prevPage() {
if (current_page > 1) {
current_page--;
changePage(current_page);
}
}

function nextPage() {
if (current_page < numPages()) {
current_page++;
changePage(current_page);
}
}

function changePage(page) {
var btn_next = document.getElementById("btn_next");
var btn_prev = document.getElementById("btn_prev");

// Validate page
if (page < 1) {
page = 1;
}

if (page > numPages()) {
page = numPages();
}

recipeCards.forEach(function (element) {

if (element.getAttribute("data-number") >= ((page - 1) * card_per_page) && element.getAttribute("data-number") <= ((page * card_per_page) - 1)) {
element.hidden = false;
} else {
element.hidden = true;
}

scroll(0, 0)

})
}

function numPages() {
return numPage;
}
	</script>
{% endblock %}
