{% extends "base.html.twig" %}

{% block content %}

	<div class="last-visited">
		<div class="last-visited-title">
			Last visits
		</div>
		<div class="last-visited-recipes"></div>
	</div>


	<div class="tag-propositions">

		<div class="tag-propositions-title">
			Try our tagged recipes selection !
		</div>

		<div class="tag-proposition-recipes">
			{% for tag in tags %}
				<div class="tag-proposition-recipe">
					<div class="tag-proposition-title">{{tag.name}}</div>
					<a class="tag-link-recipes" href="{{base_url('recipes/'~(tag.name|replace({" ":"_"})))}}">
						{% if tag.getOneRecipe() is not null %}
							<div class="img-tag" style='background-image: url("https://jolivet.needemand.com/realisations/nesti-admin/public/pictures/pictures/{{tag.getOneRecipe().getPicture().name~"."~tag.getonerecipe().getpicture().extension}}");'></div>
						{% endif %}
					</a>
				</div>
			{% endfor %}


		</div>
	</div>
{% endblock %}

{% block script %}
	<script>

		var lastVisited = document.querySelector('.last-visited-recipes');
var listHistory = JSON.parse(localStorage.getItem("history"));
listHistory.forEach(function(element) {
var lastVisitedRecipe = document.createElement("div");
lastVisitedRecipe.classList.add("last-visited-recipe");

var imgRecipe = document.createElement("img");
imgRecipe.alt = "picture of " + element.recipe_name;
imgRecipe.classList.add("img-history");
imgRecipe.src = element.picture;

var recipeName = document.createElement("div");
recipeName.innerHTML = element.recipe_name;

var link = document.createElement("a");
link.href="{{base_url()}}"+"/recipe/"+element.id_recipes;

lastVisitedRecipe.appendChild(imgRecipe);
lastVisitedRecipe.appendChild(recipeName);

link.appendChild(lastVisitedRecipe);

lastVisited.appendChild(link);
})


var tags = document.querySelectorAll('.tag-link-recipes');
if (tags.length > 0) {
tags.forEach((element, index) => element.addEventListener('mouseenter', (function (e) { // Add event listener on tag image
var goTo = document.createElement("div");
goTo.innerHTML = "See more !";
goTo.classList.add("tag-see-more");
var divImage = element.firstElementChild;
divImage.appendChild(goTo);

})))

tags.forEach((element, index) => element.addEventListener('mouseout', (function (e) { // Add event listener on tag image
var goTo = document.querySelector(".tag-see-more").remove();

})))
}
	</script>
{% endblock %}
